{% extends 'blogapp/base.html' %}


{% block content %}
<style>

</style>
    <div class="container">
        <legend>Reset Password</legend>
        <p>In case you've forgot your password please enter your email address below. The instruction regarding the new password set-up along with the link will be send to your email address. Kindly don't share your link with untrust resources.</p>
        <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send" class="btn btn-info" >
                <input type="hidden", name="next" value="{{next}}">
        </form>

    </div>

{% endblock %}