{% extends 'blogapp/base.html' %}
{% block content %}

<style>
    hr{
        background-color: black;
    }
</style>

    <div class="centerstage">

            {% for post in post_list %}
                <!-- by convention its gonna loop over 'post_list' object if context_object_name= 'your_wish_name' variable isn't set -->

                <div id="individual-post">
                        <img class="rounded-circle"
                        src='{{ post.author.profile.image.url }}' alt="not found">
                        <a style="text-decoration: none;"
                        href="{% url 'blogapp:userpost_list' post.author.username %}">{{ post.author }}</a><hr>
                        <h1><a style="text-decoration: none;" href="{% url 'blogapp:post_detail' pk=post.pk %}">
                          {{ post.title }}</a></h1>
                        <p>{{ post.text|safe|linebreaksbr }}
                          <!-- <a style='color: #2a91bd;' href="{% url 'blogapp:post_detail' pk=post.pk %}">read more...</a> -->
                        </p>
                        <div class="date text-muted">
                            <p>{{ post.published_date|date:"G:i a n M, Y" }}</p>
                        </div>
                        <a class="text-muted" href="{% url 'blogapp:post_detail' pk=post.pk %}">
                            {{ post.approve_comments.count }} comments</a>
                </div>

            {% endfor %}
    </div>

    <div class="ml-2">
        {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}

            {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{num}}</a>

            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{num}}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    </div>

{% endblock %}
